# Oracle 23ai
ORACLE_PASSWORD=Oracle_123
ORACLE_APP_USER=hotel_user
ORACLE_APP_USER_PASSWORD=hotel_pass

REACT_APP_OSS_DOMAIN=https://hotelhotel.oss-cn-beijing.aliyuncs.com

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=hotel-files
