# =========================
# 中间件与数据库数据目录
# =========================
cloudbeaver-data/
minio/
oracle-data/
redis-data/

# =========================
# Dependencies (Node / Java)
# =========================
node_modules/
.pnp
.pnp.js

# =========================
# Testing & Build outputs
# =========================
coverage/
build/
dist/
out/
target/
maven-helper/
HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs and JVM Dumps
# =========================
logs/
*.log
*.out
*.err
*.pid
*.seed
*.stackdump
*.hprof
hs_err_pid*
replay_pid*

# =========================
# IDE and editor
# =========================
.vscode/
.idea/
*.iml
*.iws
*.ipr
*.swp
*.swo
*~
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# =========================
# Cache, Temp & OS
# =========================
.cache/
.eslintcache
tmp/
temp/
*.tmp
*.temp
.DS_Store
Thumbs.db
Desktop.ini
